:root {
  --lighter-seafoam: hsl(189, 70%, 97%);
  --light-seafoam: hsl(189, 70%, 95%);
  --seafoam: #1f98ad;
  --dark-seafoam: hsl(189, 70%, 30%);
  --darker-seafoam: hsl(189, 70%, 20%);

  --ruby: hsl(333, 56%, 44%);
  --olive: hsl(54, 76%, 22%);
  --light-olive: hsl(54, 85%, 37%);
  --lightest-olive: hsl(54, 85%, 85%);
}

.container {
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 30px;
}

/* Cam Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cam-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cam-page-subheading {
  letter-spacing: -0.05rem;
  line-height: 1.02;
  margin-bottom: 15px;
}

hr {
  border-top: 1px solid #bcbcbc;
  text-align: center;
  margin: 2rem 0;
}

hr:after {
  content: '\1F334';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 1rem;
  background: #fff;
  color: #8c8b8b;
  font-size: 18px;
}

.green-dot {
  background-color: rgb(52, 193, 104);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 6px;
  position: relative;
  top: 9px;
  width: 10px;
}

/* Webcam Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.more-cams {
  align-items: center;
  border-radius: 0.25rem;
  border-top: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  display: flex;
  justify-content: center;
  margin: 5px 10px 25px;
  padding: 10px;
  text-align: center;
  width: 260px;
  word-wrap: break-word;
  h2 {
    font-size: 40px;
    hyphens: auto;
    line-height: 140%;
    margin: 0;
    word-break: break-word;
    span {
      font-size: 55px;
    }
  }
  a {
    color: crimson;
    text-decoration: none;
    &:hover {
      filter: brightness(75%);
      text-decoration: underline;
    }
  }
}

.legend {
  margin-top: 30px;
  text-align: center;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {
  .row {
    margin-top: 10px;
  }

  input[type='text'],
  input[type='email'] {
    height: 30px;
    padding: 5px;
    width: 100%;
  }

  textarea {
    font-family: inherit;
    height: 100px;
    padding: 5px;
    width: 100%;
  }

  input[type='submit'] {
    display: block;
    height: 40px;
    margin: 20px 0 30px;
    width: 100%;
  }

  select {
    display: block;
    padding: 6px;
    width: 200px;
  }
}

/* Login / Logout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.login-logout {
  align-items: center;
  display: flex;
  font-size: small;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Link Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.links-container {
  border: 1.5px solid var(--text-link-color);
  padding: 15px 25px;
  // border-radius: 4px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 800;
}
.links-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.links-container li {
  line-height: 16px;
  margin: 0px;
}
@media (max-width: 768px) {
  .links-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .links-container ul {
    grid-template-columns: 1fr;
  }
}

/* Things to Do & Local Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.things-and-info {
  display: flex;
  width: 100%;
}

.things {
  width: 50%;
  padding-right: 15px;
}

.info {
  width: 50%;
}

@media (max-width: 768px) {
  .things-and-info {
    flex-direction: column;
  }
  .things {
    padding-right: 0;
    width: 100%;
  }
  .info {
    width: 100%;
  }
}

/* Cam Page - content & Ad
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content-and-ad {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.content {
  width: 50%;
  h3 {
    margin-top: 0;
  }
  .leaflet-container {
    border-radius: 5px;
    height: 350px;
    width: 100%;

    // Change marker color
    .leaflet-marker-pane img {
      filter: hue-rotate(110deg);
    }
  }
  form {
    padding-right: 15px;
  }
}

.ad {
  height: 350px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; // Does not effect AdSense ads
  // Still looking for a way to horizontally center the ad
}

@media (max-width: 768px) {
  .content-and-ad {
    flex-direction: column;
  }
  .content {
    width: 100%;
    form {
      padding-right: 0;
    }
  }
  .ad {
    width: 100%;
  }
}

/* Cam Details - image & Map
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-and-map {
  display: flex;
  width: 100%;
  .image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .map {
    display: flex;
    height: 350px;
    width: 50%;
    .leaflet-container {
      align-items: center;
      height: 350px;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .image-and-map {
    flex-direction: column;
    .image {
      width: 100%;
    }
    .map {
      width: 100%;
    }
  }
}

/* Read more text...
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.anchorClass {
  font-size: smaller;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
  background: var(--seafoam);
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  &:hover {
    opacity: 0.85;
  }
}

.ghostButton {
  font-weight: bold;
  background: none;
  border: 2px solid var(--dark-seafoam);
  color: var(--dark-seafoam);
  &:hover {
    background: var(--light-seafoam);
  }
}

.btn-secondary {
  background: var(--dark-seafoam);
  border-radius: 5px;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  font-size: 13px;
  font: inherit;
  margin: 0 20px;
  padding: 5px 15px;
  &:hover {
    opacity: 0.85;
  }
}

.btn-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.link-as-button {
  background: var(--seafoam);
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  &:hover {
    opacity: 0.85;
    text-decoration: none;
    color: #fff;
  }
}

.button-as-link {
  background: none;
  border: none;
  color: hsl(192, 76%, 35%);
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  &:hover {
    color: hsl(192, 76%, 30%);
    text-decoration: underline;
  }
}

/* Show More
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show-more-wrapper {
  position: relative;

  .btn {
    color: black;
    background: white;
    border-radius: 1.5em;
    left: 30%;
    padding: 0.5em;
    text-decoration: none;
    width: 40%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(104, 76, 76, 0.3);
  }
  .show,
  .hide {
    position: absolute;
    bottom: -1em;
    z-index: 100;
    text-align: center;
  }

  .hide {
    display: none;
  }
  .show:target {
    display: none;
  }
  .show:target ~ .hide {
    display: block;
  }
  .show:target ~ .panel {
    max-height: 2000px;
  }
  .show:target ~ .fade {
    margin-top: 0;
  }

  .panel {
    position: relative;
    margin: 2em auto;
    width: 70%;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .fade {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(white, 1) 75%
    );
    height: 100px;
    margin-top: -100px;
    position: relative;
  }
}

/* Embedded YouTube Videos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.video-responsive {
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin: 10px 0;
}

.video-responsive iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Leaflet
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.leaflet-container {
  margin: auto;
  width: 600px;
  height: 400px;
}

.leaflet-container {
  z-index: 0 !important;
}

/* Pagination for youtube page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  line-height: 32px;
}

/* Leaflet map markers for cluster icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.marker-cluster-small {
  background-color: hsl(5, 100%, 80%) !important;
}

.marker-cluster-small div {
  background-color: hsl(5, 100%, 60%) !important;
  color: #fff !important;
}

.marker-cluster-medium {
  background-color: hsl(205, 90%, 80%) !important;
}

.marker-cluster-medium div {
  background-color: hsl(205, 90%, 50%) !important;
  color: #fff !important;
}

.marker-cluster-large {
  background-color: hsl(16, 90%, 70%) !important;
}

.marker-cluster-large div {
  background-color: hsl(16, 90%, 40%) !important;
  color: #fff !important;
}
