.form {
  .formWrapper {
    display: flex;
    width: 100%;

    .section1 {
      width: 100%;
      margin-right: 20px;
    }

    .section2 {
      width: 100%;
      margin-left: 20px;
    }
  }

  textarea {
    vertical-align: top;
  }

  .description textarea {
    height: 70px;
  }

  .longDescription textarea {
    height: 140px;
  }

  .row {
    margin: 15px 0;
  }

  .footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 40px;
  }

  .previewImage {
    object-fit: cover;
  }

  .imageUpload {
    margin-top: 20px;
    text-align: center;
  }
}

.formContainer {
  border: 1px solid var(--light-olive);
  padding: 10px;
  button {
    float: right;
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .form {
    .formWrapper {
      flex-flow: column;
      .section2 {
        margin-left: 0px;
      }
    }
  }
}
