.adsense {
  background: 'lightblue';
  height: '100%';
  padding-left: '10px';
}

.adsenseLeaderboard {
  background: 'lightblue';
  background: lightblue;
  height: '150px';
  height: 100px;
  margin: 15px 0;
  padding-left: '10px';
}
