.admin {
  background: var(--lightest-olive);
  border-radius: 5px;
  border: 1px solid var(--light-olive);
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  color: #333;
  margin-top: 7px;
  padding: 0 30px;
}

.adminButtons {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  width: 100%;
}

.camAdminInfo {
  display: flex;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  width: 100%;
}

.camInfo {
  margin: auto;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;

  p {
    margin: 2px;
  }

  button {
    margin: 20px auto;
  }
}

.description {
  margin: 5px 0;
  width: 100%;
}
